/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2,
h3 {
	font-weight: inherit;
	font-size: inherit;
	overflow-wrap: break-word;
	line-height: 1.1;
}
input,
label,
button {
  font: inherit;
}

:root {
	/* Primary */

	--Red-500: hsl(10, 79%, 65%);
	--Blue-300: hsl(186, 34%, 65%);
	
	/* Neutral */
	
	--Brown-950: hsl(25, 47%, 15%);
	--Brown-400: hsl(28, 10%, 53%);
	--Red-100: hsl(26, 66%, 93%);

	--white: hsl(0, 0%, 100%);
}

body {
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	background-color: var(--Red-100);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
}

.container {
	max-width: 540px;
	width: 100%;
}
.balance-container {
	width: 100%;
	background-color: var(--Red-500);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 2rem;
 	border-radius: 0.8rem;
	color: var(--white);
	margin-bottom: 1.5rem;
}
.balance-info {
}
.balance-title {
	font-size: 0.95rem;
  	font-weight: 400;
  	margin-bottom: 0.5rem;
	color: var(--Red-100);
}
.balance-amount {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.logo {
}
.spending-container {
	background-color: white;
  	padding: 2rem;
  	border-radius: 0.8rem;
  	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
}
.spending-title {
}
.chart-container {
}
.divider {
}
.monthly-info {
}
.total-container {
}
.text {
}
.total-amount {
}
.percentage-container {
}
.percentage {
}